body {
background-image: url("https://64.media.tumblr.com/d4411ae0a03a3bbd9c51e9206557ec50/a84bbe8c5afd316b-19/s1280x1920/f01fb6ad3a999aadacb843c7f909d57220d833c2.png");
background-repeat: no-repeat;
background-size: cover;
}

form {
text-align: center;
}

.center-text {
text-align: center;
}

h1, h2 {
color: rgba(119, 85, 243, 0.596);
font-size: 35px;
font-style: normal;
-webkit-text-stroke-width: 1px;
-webkit-text-stroke-color: rgb(0, 0, 0);
text-align: center; 
}

label {
color: rgba(119, 85, 243, 0.596);
font-size: 25px;
text-align: center; 
-webkit-text-stroke-width: 1px;
-webkit-text-stroke-color: rgb(0, 0, 0);
display: block;
margin-bottom: 10px;
margin-top:10px;
}

input {
margin-left: auto; /* Alinha os inputs à direita */
margin-right: auto; 
width: 70%; 
max-width: 250px; 
}

button {
color: rgb(137, 26, 147);
font-size: 25px;
text-align: center; 
-webkit-text-stroke-width: 1px;
-webkit-text-stroke-color: rgb(0, 0, 0);
margin-bottom: 10px;
margin-top:40px;

}